
<h1>Enojado</h1>
<p>Texto que describe la emoción de estar enojado.</p>
<%= image_tag "logo.jpg", alt: "Imagen de Enojado" %>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>