
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Título de la Página de Inicio</h1>
      <p>Bienvenido a nuestra página de inicio.</p>
     
    </div>
    <div class="col-md-6">
      <%= image_tag "logo.jpg", class: "img-fluid", alt: "Ejemplo de imagen" %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <h2>Vídeo Embebido</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Otro Contenido</h2>
      <p>Este es otro contenido que puedes incluir en tu página de inicio.</p>
    </div>
  </div>
</div>