<h1>Exercises#meditate</h1>
<p>Find me in app/views/exercises/meditate.html.erb</p>

<h1>Enojado</h1>
<p>Texto que describe la emoción de estar enojado.</p>
<%= image_tag "imagen_enojado.jpg", alt: "Imagen de Enojado" %>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
